<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>

      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python27\python.exe|c:\python27\lib\site-packages\wfastcgi.pyc" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security> 

        <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
    </security>
        <httpErrors errorMode="Detailed">
            <remove statusCode="500" subStatusCode="-1" />
        </httpErrors> 
  </system.webServer>
 
  <appSettings>


    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="~/" />
 

    <add key="WSGI_LOG" value="C:\logs\oboeqa_web.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
  </appSettings>
</configuration>
